@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* Yeh line MAGIC hai - Isse scroll smooth hoga */
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #000000;
    color: white;
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
  }

  /* Custom Scrollbar Styling */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #0f0f0f;
  }
  ::-webkit-scrollbar-thumb {
    background: #4f46e5;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #4338ca;
  }
}